<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="Content/About.css">
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron" id="Con">
      <h1 class="display-4" id="back">Welcome to the <%= title %> page</h1>
      <p>brackets</p>
      
    </div>
  </main>
  <body>
    <div class="w3-container">
      <h2>Displaying Panels</h2>
      <p>Panels are the same as containers except for an added top and bottom margin.</p>
    
      <div class="w3-panel w3-Dark-Grey" id="Con">
        <p>I am a panel.</p>
      </div>
      <div class="w3-panel w3-Dark-Grey" id="Con">
        <p>I am a panel.</p>
      </div>
      <div class="w3-panel w3-Dark-Grey" id="Con">
        <p>I am a panel.</p>
      </div>
  </body>
  
      


<%- include partials/footer.ejs %>

<%- include partials/bottom_nav.ejs %>
  
